.song-list {
    /* display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly; */
}

.song-list > ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-left: 0;
}